<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level1</key>
	<dict>
		<key>bg_far_scene</key>
		<dict>
			<key>path</key>
			<string>images/far_scene.png</string>
			<key>pos</key>
			<string>{358, 309}</string>
		</dict>
		<key>bg_near_scene</key>
		<dict>
			<key>path</key>
			<string>images/near_scene.png</string>
			<key>pos</key>
			<string>{360, 100}</string>
		</dict>
	</dict>
</dict>
</plist>
